body{
    font-family: 'Montserrat'
}
.wrapper {
    max-width: 1145px;
    margin: 0 auto;
    text-align: center;
}

.menu_item {
    display: inline-block;
    margin: 25.5px 0 25.5px 0;
}
.item_link {
    color:red;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-right: 72px; 
}

.menu_item:last-child {
    margin-left: -22px;
}
.img-content {
    background: url(./image/image_bg.svg) no-repeat  top / cover ;
    padding-bottom: 789px;
    max-width: 1280px;
    margin: 0 auto;
}
.main_header {
    margin: 49px 0 38px 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}
.content_description {
    margin: 28px 0 60px 0;
}
.button {
    background-color: red;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 43px;
    border: 0;
    border-radius: 4px;
    margin-bottom: 82px;
    cursor: pointer;
}
.button:active {
    background-color: blue;
    transition: 2ms;
}
.footer_description {
    text-align: right;
}
